
body {
  font-family: 'Lato', sans-serif;
}

.title-page {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.background-gif {
    width: 100%;
    display: block;
}

.title-banner {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: white;
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-font {
    font-weight: bolder;
    font-size: 50px;
    color: black;
    margin: 0;
}

h1 {
  margin-top: 40px;
  font-weight: normal;
}

h2 {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 30px;
  color: lightgray;
}

h6 {
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 30px;
    color: lightgray;
}

/*************/
/*    FORM   */
/*************/

.form-inline {
  margin-bottom: 30px;
}

.form-control {
  border: 1px solid #D49999;
  width: 250px;
}

.form-group label {
  font-weight: 400;
  margin-right: 10px;
}

.form-inline button, .btn-link:active {
  border-left: 1px solid #888;
  margin-left: 15px;
  padding-left: 15px;
  color: #333;
  cursor: pointer;
  outline: none;
}
.form-inline button:hover, .btn-link:active, .btn-link:focus  {
  border-left: 1px solid #888;
  color: #8E7060;
  text-decoration: none;
  outline: none;
}
.form-inline button .glyphicon {
  margin-right: 5px;
}


/***************/
/*  BAR CHART  */
/***************/

.bar {
  fill: #8E7060;
}

.axis {
  font: 10px sans-serif;
  fill: #333;
}

.axis-title {
  fill: #9C8B83;
  font-size: 11px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.x-axis {
  font-size: 12px;
}

.x-axis path {
  display: none;
}

.title-page {
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


 /*
 --------
 BEGIN SEARCHES OVER TIME CSS SECTION
 --------
 */

.searches-over-time-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searches-over-time-text {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;

}

.searches-over-time-graph {
    width: 60%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.searches-over-time-area {
    width: 100%;
    height: 60vh;
}

.searches-over-time-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

/*
--------
END SEARCHES OVER TIME CSS SECTION
--------
*/


/*
--------
BEGIN GENERATION RATE OVER TIME CSS SECTION
--------
*/

.generation-rate-over-time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.generation-rate-over-time-area {
    width: 100%;
    height: 60vh;
}

.generation-rate-over-time-text-area {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generation-rate-over-time-text {
    display: flex;
    width: 30%

}

.generation-rate-over-time-graph {
    width: 400%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.graph-and-legend-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.generation-rate-over-time-legend {
    display: flex;
    align-items: center;
    justify-content: center;
}

 .vertical-slider {
     writing-mode: bt-lr; /* bottom to top, left to right */
     -webkit-appearance: slider-vertical;
     width: 8px;
     height: 200px;
 }
/*
--------
END GENERATION RATE OVER TIME CSS SECTION
--------
*/